.home-wrapper {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  overflow-y: auto;
  grid-gap: 30px;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 16px;
}
