.bookDetailWrapper {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    overflow: hidden;
}

.bookDetailLeft {
    color: white;
    font-size: 14px;
}

.bookDetailLeft > button {
    outline: none;
    border: none;
    padding: 6px 6px;
    font-size: 10px;
    transition: all .3s ease;
}

.bookDetailLeft > button:hover {
    background-color: cadetblue;
    color: white;
}

.bookDetailRight > img {
    width: 100px;
    height: 240px;
    object-fit: contain;
}
